.testimonials__card {
  position: relative;
  width: 314px;
  height: 464px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-right: 78px;
  -webkit-box-shadow: 10px 10px 23px -7px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 10px 10px 23px -7px rgba(34, 60, 80, 0.2);
  box-shadow: 10px 10px 23px -7px rgba(34, 60, 80, 0.2);
}

.testimonials__card:last-of-type {
  margin-right: 0;
}
