.header__bg-rectangle-middle {
  position: absolute;
  width: 1128px;
  height: 298.23px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0.25) 0%, rgba(255, 255, 255, 0) 100%), #56CCF2;
  opacity: 0.5;
  border-radius: 500px;
  transform: rotate(-65deg);
}
